name: test python3.7
on:
 workflow_dispatch:

jobs:
 testjob:
    strategy:
      matrix:
        os: [macOS-13]
        
    runs-on: ${{ matrix.os }}
    
    steps:
      
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
            python-version: 3.7
            check-latest: false
            update-environment: true
            allow-prereleases: false
